 
  <div class="modal fade" id="info_modal_1" tabindex="-1" aria-labelledby="info_modal_1" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Кыскача нускама1:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div>   


  <div class="modal fade" id="info_modal_2" tabindex="-1" aria-labelledby="info_modal_2" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Кыскача нускама2:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div> 


  <div class="modal fade" id="info_modal_3" tabindex="-1" aria-labelledby="info_modal_3" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Кыскача нускама3:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div> 
  
  
  <div class="modal fade" id="info_modal_4" tabindex="-1" aria-labelledby="info_modal_4" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Кыскача нускама4:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div> 

  
  
  <div class="modal fade" id="info_modal_5" tabindex="-1" aria-labelledby="info_modal_5" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Кыскача нускама5:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div> 

  
  
  <div class="modal fade" id="info_modal_6" tabindex="-1" aria-labelledby="info_modal_6" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Кыскача нускама6:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div> 

  
  
  <div class="modal fade" id="info_modal_7" tabindex="-1" aria-labelledby="info_modal_7" aria-hidden="true">
    <div class="modal-dialog role=" document"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Кыскача нускама7:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p style="text-align: justify;">
            Данная программа разработана благодаря поддержке Американского народа, оказанной через Агентство США по международному развитию (USAID). Содержание программы не обязательно отражает точку зрения USAID или Правительства Соединенных Штатов Америки.
          
          </p>
        </div>
      </div>
    </div>
  </div> 